:root {
    --body-background-color: #0d1117;
    --body-text-color: #c9d1d9;
    --card-background-color: #30363D;
    --nav-background-color: #161b22;
    --nav-border-bottom-color: #161b22;
    --nav-current-border-bottom-color: #1abc9c;
    --card-border-color: #30363D;
    --down-border-left-color: #eb3b5a;
    --down-background-color: #6b1020;
    --degraded-border-left-color: #f7b731;
    --up-border-left-color: #20bf6b;
    --tag-color: #002b29;
    --tag-up-background-color: #20bf6b;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}

/* Logo size */
nav a.logo {
    height: 2.5rem !important;
}

/* Hide logo text */
nav a.logo > div {
    display: none !important;
}

/* Bold navigation links */
nav ul > li a {
    font-weight: bold !important;
}

/* Center align header */
main > header {
    text-align: center !important;
}

/* Style header article */
main > header + article {
    font-size: 1.2rem !important;
    font-weight: bold !important;
}
