:root {
    --body-background-color: #001716;
    --body-text-color: #f0ffff;
    --card-background-color: #002b29;
    --nav-background-color: #002b29;
    --nav-border-bottom-color: #015450;
    --nav-current-border-bottom-color: #1abc9c;
    --card-border-color: #015450;
    --down-border-left-color: #eb3b5a;
    --down-background-color: #6b1020;
    --degraded-border-left-color: #f7b731;
    --up-border-left-color: #20bf6b;
    --tag-color: #002b29;
    --tag-up-background-color: #20bf6b;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}

/* Resize logo image */
nav a.logo > img {
    height: 2.5rem !important;
}

/* Hide logo text */
nav a.logo > div {
    display: none !important;
}

/* Bold navbar links */
nav ul > li > a {
    font-weight: 500 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05rem !important;
}

/* Center header text */
main > header {
    text-align: center !important;
}

/* Style intro article */
main > header + article {
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

/* Pointer cursor for form labels */
main > div > form > div > label {
    cursor: pointer !important;
    transition: color 0.2s ease, font-weight 0.2s ease !important;
}

/* Hover effect for form labels */
main > div > form > div > label:hover {
    font-weight: bold !important;
}

/* Hide graph in live status section */
main > section.live-status > article.graph {
    --background: none !important;
    background-image: none !important;
}

/* Hide last div in live status section */
main > section.live-status > article > div:last-of-type {
    display: none !important;
}
