/* Resize logo image */
nav a.logo > img {
    height: 2.5rem !important;
}

/* Hide logo text */
nav a.logo > div {
    display: none !important;
}

/* Bold navbar links */
nav ul > li a {
    font-weight: 500 !important;
}

/* Center header text */
main > header {
    text-align: center !important;
}

/* Style intro article */
main > header + article {
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

/* Style form labels */
main > div > form > div > label {
    font-weight: bold !important;
    cursor: pointer !important;
}

/* Hide last div in live status section */
main > section.live-status > article > div:last-of-type {
    display: none !important;
}
